
API/bin/Debug/netcoreapp3.1/API.deps.json
API/bin/Debug/netcoreapp3.1/API.dll
API/bin/Debug/netcoreapp3.1/API.exe
API/bin/Debug/netcoreapp3.1/API.pdb
API/bin/Debug/netcoreapp3.1/API.runtimeconfig.dev.json
API/bin/Debug/netcoreapp3.1/API.runtimeconfig.json
API/bin/Debug/netcoreapp3.1/appsettings.Development.json
API/bin/Debug/netcoreapp3.1/appsettings.json
API/bin/Debug/netcoreapp3.1/Core.dll
API/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
API/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
API/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
API/bin/Debug/netcoreapp3.1/Serilog.dll
API/bin/Debug/netcoreapp3.1/Serilog.Sinks.File.dll
API/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
API/logs/myapp20190107.txt
API/obj/API.csproj.EntityFrameworkCore.targets
API/obj/API.csproj.nuget.cache
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/API.csproj.nuget.g.targets
API/obj/Debug/netcoreapp3.1/API.AssemblyInfo.cs
API/obj/Debug/netcoreapp3.1/API.AssemblyInfoInputs.cache
API/obj/Debug/netcoreapp3.1/API.assets.cache
API/obj/Debug/netcoreapp3.1/API.csproj.CopyComplete
API/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
API/obj/Debug/netcoreapp3.1/API.csprojAssemblyReference.cache
API/obj/Debug/netcoreapp3.1/API.dll
API/obj/Debug/netcoreapp3.1/API.exe
API/obj/Debug/netcoreapp3.1/API.MvcApplicationPartsAssemblyInfo.cache
API/obj/Debug/netcoreapp3.1/API.pdb
API/obj/Debug/netcoreapp3.1/API.RazorTargetAssemblyInfo.cache
API/obj/Debug/netcoreapp3.1/staticwebassets/API.StaticWebAssets.Manifest.cache
API/obj/Debug/netcoreapp3.1/staticwebassets/API.StaticWebAssets.xml
API/obj/project.assets.json
API/obj/publish/win-x64/API.csproj.nuget.cache
API/obj/publish/win-x64/API.csproj.nuget.dgspec.json
API/obj/publish/win-x64/API.csproj.nuget.g.props
API/obj/publish/win-x64/API.csproj.nuget.g.targets
API/obj/publish/win-x64/project.assets.json
API/obj/Release/netcoreapp3.1/API.AssemblyInfo.cs
API/obj/Release/netcoreapp3.1/API.AssemblyInfoInputs.cache
API/obj/Release/netcoreapp3.1/API.assets.cache
API/obj/Release/netcoreapp3.1/API.csproj.CopyComplete
API/obj/Release/netcoreapp3.1/API.csproj.FileListAbsolute.txt
API/obj/Release/netcoreapp3.1/API.csprojAssemblyReference.cache
API/obj/Release/netcoreapp3.1/API.dll
API/obj/Release/netcoreapp3.1/API.exe
API/obj/Release/netcoreapp3.1/API.MvcApplicationPartsAssemblyInfo.cache
API/obj/Release/netcoreapp3.1/API.pdb
API/obj/Release/netcoreapp3.1/API.RazorTargetAssemblyInfo.cache
API/obj/Release/netcoreapp3.1/staticwebassets/API.StaticWebAssets.Manifest.cache
API/obj/Release/netcoreapp3.1/staticwebassets/API.StaticWebAssets.xml
API/obj/Release/netcoreapp3.1/win-x64/API.AssemblyInfo.cs
API/obj/Release/netcoreapp3.1/win-x64/API.AssemblyInfoInputs.cache
API/obj/Release/netcoreapp3.1/win-x64/API.assets.cache
API/obj/Release/netcoreapp3.1/win-x64/API.csproj.CopyComplete
API/obj/Release/netcoreapp3.1/win-x64/API.csproj.FileListAbsolute.txt
API/obj/Release/netcoreapp3.1/win-x64/API.dll
API/obj/Release/netcoreapp3.1/win-x64/API.exe
API/obj/Release/netcoreapp3.1/win-x64/API.MvcApplicationPartsAssemblyInfo.cache
API/obj/Release/netcoreapp3.1/win-x64/API.pdb
API/obj/Release/netcoreapp3.1/win-x64/API.RazorTargetAssemblyInfo.cache
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/API.deps.json
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/API.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/API.exe
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/API.pdb
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/API.runtimeconfig.json
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/appsettings.Development.json
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/appsettings.json
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Core.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Core.pdb
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Dapper.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Microsoft.AspNetCore.Authentication.JwtBearer.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Microsoft.IdentityModel.JsonWebTokens.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Microsoft.IdentityModel.Logging.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Microsoft.IdentityModel.Protocols.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Microsoft.IdentityModel.Tokens.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Newtonsoft.Json.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Serilog.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Serilog.Sinks.File.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/sni.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/System.Data.SqlClient.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/System.IdentityModel.Tokens.Jwt.dll
API/obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/web.config
API/obj/Release/netcoreapp3.1/win-x64/staticwebassets/API.StaticWebAssets.Manifest.cache
API/obj/Release/netcoreapp3.1/win-x64/staticwebassets/API.StaticWebAssets.xml
API/API.csproj.user
API/script.sql
API/saisscript.sql
.vs/Saica/v16/.suo
.vs/Saica/v16/Server/sqlite3/db.lock
.vs/Saica/v16/Server/sqlite3/storage.ide
.vs/Saica/v16/Server/sqlite3/storage.ide-shm
.vs/Saica/v16/Server/sqlite3/storage.ide-wal
API/.config/dotnet-tools.json
/API/bin/Debug/netcoreapp3.1
/Core/bin/Debug/netcoreapp3.1
/Core/obj
/Test/bin/Debug/netcoreapp3.1
/Test/obj
